:root {
  --font-family: Arial, sans-serif;
  --background-color: #f4f4f4;
  --box-background-color: #fff;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --primary-color: #73c527;
  --primary-text-color: rgb(0, 0, 0);
  --secondary-text-color: #08a710;
  --footer-background-color: #000000;
  --footer-text-color: #333333;
  --footer-link-color: #73c527;
  --input-border-color: #ccc;
  --link-color: #73c527;
  --button-hover-bg-color: #5ea91f;
  --button-hover-text-color: #fff;
  --nav-bg-color: #f4f4f4;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh
}

header {
  width: 100%;
  text-align: center;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bg-color);
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-rides {
  height: 50px;
}

.regresar {
  text-decoration: none;
  color: #000000;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.regresar::before {
  content: '';
  border: solid #000000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

nav {
    flex: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: bold;
}

nav ul li a.active {
    color: var(--primary-color);
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-container button img {
    height: 24px;
}

.search-container .dropdown {
  position: relative;
  display: inline-block;
}

.search-container .dropdown .dropbtn {
  background: none;
  border: none;
  font-size: 16px;
}

.search-container .dropdown .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.search-container .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.search-container .dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.search-container .dropdown:hover .dropdown-content {
  display: block;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
  flex: 1;
  padding: 80px 20px 20px;
}

.new-ride-form {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.ride-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  margin: auto;
}

.ride-group {
  flex: 1 0 45%;
  margin-bottom: 20px;
}

.ride-bottom .ride-group {
  flex: unset;
  margin-bottom: 10px;
  margin: 10px;
}

.ride-group label {
  display: block;
  margin-bottom: 5px;;
}

.ride-group input,
.ride-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ride-group-days {
  margin-bottom: 20px;
  padding-left: 100px;
}

.ride-group-days label {
  display: inline-block;
  margin-right: 10px;
}

.vehicle-details,
.option-days {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  margin: auto;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}


.vehicle-details legend {
  padding: 0 5px;
  font-weight: bold;
}

.vehicle-details .ride-group {
  flex: 1 0 30%;
  margin: auto;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.form-actions {
  display: flex;
  margin: auto;
  margin-top: 10px;
}

.form-actions .cancel {
  color: #007bff;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  margin-right: 310px;
}

.form-actions .create {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  font-size: 2em;
  color: var(--secondary-text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: var(--box-shadow);
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
}

table th {
  background-color: var(--primary-color);
  color: #fff;
}

table td a {
  color: var(--link-color);
  text-decoration: none;
}

table td a:hover {
  text-decoration: underline;
}

.new-ride-button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.new-ride-button:hover {
  background-color: var(--button-hover-bg-color);
}

.login-container,
.register-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
  max-width: 600px;
  margin: 20px;
}

.login-box,
.register-box {
  background-color: var(--box-background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 1%;
  width: 500px;
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 80%;
  height: auto;
}

.google-login {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.or {
  margin: 10px 0;
  color: var(--secondary-text-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.full-width {
  width: 100%;
}

label {
  text-align: left;
  margin-bottom: 5px;
  color: var(--secondary-text-color);
}

input,
select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #999;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
}

.button:active {
  background-color: var(--button-hover-bg-color);
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.register {
  margin-top: 15px;
  color: var(--footer-text-color);
}

.register a {
  color: var(--link-color);
  text-decoration: none;
}

.ride-info p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-pic {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

footer {
  text-align: center;
  width: 100%;
  color: var(--footer-text-color);
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

footer a {
  margin: 0 10px;
  color: var(--footer-link-color);
  text-decoration: none;
}

footer p {
  margin-top: 10px;
}

/*Estilo del botón google*/
.gsi-material-button {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #f2f2f2;
  background-image: none;
  border: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
  margin: 0 auto;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #001d35;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #001d35;
  opacity: 8%;
}